body{
    font-family: 'Nunito Sans', sans-serif;
    color: #6d6875;
    background-color: whitesmoke;
}

body::-webkit-scrollbar {
    width: 20px;
}

* {
    scrollbar-width: thin;
  }


.material-icons{
    font-size: 16px;
}

.bg-my-primary{
    background-color: #6d6875;
    color: white;
}

.bg-my-primary:hover{
    background-color: #726f77;
    color: white;
}

.bg-my-melon{
    background-color: #fa9c85;
    color: white;
}

.bg-my-melon:hover{
    background-color: #eb866d;
    color: white;
}


.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(109, 104, 117, .30);
}

.color-my-primary{
    color: #6d6875;
}

.color-my-primary:hover{
    color: #726f77;
}







/* header view */

.navbar .navbar-brand{
    color: #6d6875;
}

@media (max-width: 575px) { 
.navbar .container{
    padding: 0;
}
}
/* -------------------- */


/* home view */
.home-view .card .card-body{
    padding: 12px;
    font-size: 15px;
}

.home-view .card .card-body a{
    color: #fa9c85;
    font-style: italic;
}

.home-view .card .card-body .card-kategori a{
    color: #6d6875;
    font-style: italic;
    font-size: 12px;
    font-weight: 500;
    text-decoration: none;
}

.home-view .card .card-body .card-kategori a:hover{
    color: #eb866d;
}

.home-view .card .card-body .badge{
    color: white;
    font-style: italic;
}

.kategori .btn:nth-child(odd){
    background-color: #fa9c85;
    color: white;
}

.kategori .btn:nth-child(odd):hover{
    background-color: #eb866d;
}

.kategori .btn:nth-child(even){
    background-color: #6d6875;
    color: white;
}

.kategori .btn:nth-child(even):hover{
    background-color: #726f77;
}

.pagination .page-link{
    color: white;
    background-color: #fa9c85;
}

.pagination .page-link:hover{
    background-color: #eb866d;
}

.pagination .page-link:focus{
    box-shadow: 0 0 0 0.2rem rgba(252, 153, 128, .30);
}

/* ------------------------------------- */

/* style untuk semua form */
.form-control:focus{
    border-color: rgba(235, 134, 109, .6);
    outline: 0;
    box-shadow: 0 0 0 0.1rem rgba(235, 134, 109, .3);
}
/* -------------------------------- */



/* edit view */
.cke_editable a{
    color: #fa9c85;
}
/* ---------------------------------------- */